data/reads/HIFI
data/reads/Illumina
data/reads/Nanopore
data/reads/HIC
data/reads/test
data/assembly
data/ref
data/repeats
data/braker
data/busco
data/eggnog
data/eggnog_db
data/functional_annotation
data/busco_downloads