data/reads/HIFI
data/reads/Illumina
data/reads/Nanopore
data/reads/HIC
data/reads/test
data/assembly
data/ref
data/repeats
data/braker
data/busco
data/eggnog
data/eggnog_db
data/functional_annotation
data/busco_downloads
data/MCScanX-master
data/mcscanx
data/mummerplot
data/repeats_2
data/reads
data/RESULTS
data/agat
data/quast_results
data/busco_NEW_braker_proteins
data/busco_NEW_hifiasm_genome